from distutils.core import setup

def main():
    setup(
        name = '{{name}}',
        packages=['{{modname}}'],
        package_dir = {'':'src'},
        version = open('VERSION.txt').read().strip(),
        author='{{author}}',
        author_email='{{author_email}}',
        url='',
        download_url='',        
        keywords=['packaging'],
        license='MIT',
        description='{{description}}',
        classifiers = [
            "Programming Language :: Python",
            "Intended Audience :: Developers",
            "Topic :: Software Development :: Libraries :: Python Modules",
        ],
        long_description=open('README.rst').read(),
    )

if __name__ == '__main__':
    main()